Hi <b>{{talentName}}</b>
<br>
<br>
Thank you for applying for {{#if interview}}an interview{{else}}a position{{/if}} to work as {{#if vowel}}an{{else}}a{{/if}} <b>{{category}}</b> on <b>{{date}}</b> with <b>{{employerName}}</b>.<br><br>
<b>{{employerName}}</b> has been notified.
<br>
<br>
Applications remaining today: {{applicationsLeft}}
<br>
<br>
If you need any assistance, email <a href="mailto:help@o-link.co.za?Subject=Application%20Help">help@o-link.co.za</a>.
<br>
<br>
We wish you all the best in finding the jobs you desire.
<br>
<br>

