Hi <b>{{name}}</b>
<br>
<br>
Congratulations, <b>{{talent}}</b> has committed to
scheduling an interview for a job as {{#if vowel}}an{{else}}a{{/if}} <b>{{category}}</b>.
<br>
<br>
Please contact <b>{{talentName}}</b> directly at <a href="mailto:{{talentEmail}}">{{talentEmail}}</a>
to schedule the interview.
<br>
<br>
To view your current applicants, please click the button below:
<br>
<br>
<a href="{{link}}" style="display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; color: white;
  text-decoration: none;
    background-color: #00b488;">View My Applicants</a>
<br>
<br>
If you need any assistance, email <a href="mailto:help@o-link.co.za?Subject=Interview%20Accepted%20Help">help@o-link.co.za</a> and we will help you out in any way we can.
<br>
<br>
We wish you all the best with your future applications.

