Hi <b>{{student}}</b><br>
<br>
The job offer to work as {{#if vowel}}an{{else}}a{{/if}} <b>{{category}}</b> on <b>{{date}}</b> was edited by <b>{{employer}}</b>. {{confirmed}}{{prov}}{{pending}}
<br>
<br>
To respond to the changes, click the button below:
<br>
<br>
<a href="{{link}}" style="display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; color: white;
  text-decoration: none;
    background-color: #33B6CC;">{{category}} starting {{date}}</a>
<br>
<br>
If you need any assistance, email <a href="mailto:help@o-link.co.za?Subject=Talent%20Job%20Edited%20Help">help@o-link.co.za</a>.
<br>
<br>