Hi <b>{{name}}</b>
<br>
<br>
You failed to respond to your provisional acceptance to work as {{#if vowel}}an{{else}}a{{/if}} <b>{{category}}</b> on <b>{{date}}</b> within 24 hours.
As a result, you have automatically declined the provisional acceptance.
<br>
<br>
O-Link still has many job opportunities to offer you. Click the button below and keep applying!
<br>
<br>
<a href="{{link}}" style="display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; color: white;
  text-decoration: none;
    background-color: #00b488;">Browse Jobs</a>
<br>
<br>
If you need any assistance, please email <a href="mailto:help@o-link.co.za?Subject=Offer%20Accepted%20Help">help@o-link.co.za</a>.
<br>
<br>
We wish you all the best in finding the jobs you desire.
<br>
<br>

