Hi <b>{{employerName}}</b><br>
<br>
Thank you for using O-Link to staff your position of {{#if vowel}}an{{else}}a{{/if}} <b>{{category}}</b> on <b>{{date}}</b>.
<br>
<br>
To rate your past employees and continue using O-Link, simply click on the button below:
<br>
<br>
<a href="{{link}}" style="display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; color: white;
  text-decoration: none;
    background-color: #00b488;">Rate My Past Employees</a>
<br>
<br>
You will not be allowed to use the O-Link plaform until you have
provided a rating for the talent you have hired.
<br>
<br>
If you need any assistance, email <a href="mailto:help@o-link.co.za?Rating%20Help">help@o-link.co.za</a> and we will help you out in any way we can.
<br>
<br>
We wish you all the best with your future applications.
